.dummy-object {
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}
.dummy-object.inactive {
    background-color: whitesmoke;
}

.dummy-object.active {
    background-color: lightblue;
}

