/* ==================== PANE ===================== */

.pane {
    border: 0;
}

.hidden {
    display: none;
    resize: horizontal;
    overflow: visible;

    .drag-handle-horizontal {
        width: 15px;
        height: calc(100vh - 55px);
        position: absolute;
        top: 0;
        right: -5;
        background: transparent;
        cursor: col-resize;
        z-index: 99;
    }
}