/* ==================== OBJECT RENDERER ===================== */

#hello-world {
    height: 100%;
    width: auto;
    position: relative;
    overflow: scroll;  
    transition: background .4s ease-in;  
    @include customize(theme) {
        background: getValue(node-area-background);
       }
}
