/* ==================== OBJECT RENDERER ===================== */

#hello-world {
    height: 100%;
    width: auto;
    position: relative;
    overflow: scroll;    
    @include customize(theme) {
        background: getValue(ui-node-background);
       }
}
