/* ==================== CONNECTOR ===================== */

.story-object-view {

  .connector-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    &.in {
      top: -8px;
    }
    &.out {
      bottom: -8px;
    }
    span {
      margin: 0 5px;
    }
  }

  .flow, .reaction, .data {
    width: 16px;
    height: 16px;
    z-index: 99;
    border-radius: 50%;
    transition: background .4s ease-in, border-color .4s ease-in;
    border: 2px solid;
    @include customize(theme){
      border-color: getValue(menu-background);
    }
  }
  .flow {
    @include customize(theme){
      background: getValue(flow);
    }
  }

  .reaction {
    @include customize(theme){
      background: getValue(reaction);
    }
  }
  .data {
    @include customize(theme){
      background: getValue(data);
    }
  }
}
