/* ================= STORY OBJECT ==================== */

.story-object-view {
  position: relative;
  width: auto;
  min-width: 130px;
  height: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: background 0.4s ease-in, color 0.4s ease-in,
    border-color 0.4s ease-in;

  .area-meta {
    width: auto;
    height: 1.8em;
    border-radius: 5px 5px 0 0;
    @include customize(theme) {
      background: getValue(menu-background);
    }
    line-height: 15px;
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: middle;
    padding: 5px;
    @include customize(theme) {
      color: getValue(border-color);
    }
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    p {
      display: inline;
      margin-left: 10px;
    }

    .toggle-content {
      position: absolute;
      top: 0;
      right: 0;
      height: auto;
      width: auto;
      padding: 10px;
      cursor: pointer;
      @include customize(theme) {
        border-color: getValue(border-color);
      }

      &:hover + span {
        border-color: #c9c9c9;
      }

      &.minimized {
        .span-top {
          transition: transform 0.3s ease-in-out;
          -webkit-transition: transform 0.3s ease-in-out;
          transform: rotate(90deg);
          transform-origin: 5.5px 4px;
        }
      }

      span {
        border-top: 4px solid;
        width: 15px;
        border-radius: 50px;
        display: block;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

      .span-top {
        transform: translateY(4px);
        transform-origin: 5.5px 4px;
      }
    }
  }

  .area-content {
    transition: all 3.3s ease-in-out;
    -webkit-transition: all 3.3s ease-in-out;
    position: relative;
    width: auto;
    min-height: 30px;
    max-height: 120px;
    padding: 5px;
    font-size: 0.9em;
    line-break: auto;
    overflow: hidden;
    min-width: 130px;
    max-width: 150px;
    border-radius: 0 0 5px 5px;
    @include customize(theme) {
      background: getValue(node-object-background);
    }
    &.hidden {
      max-height: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover::after {
    opacity: 0.44;
  }

  &.active {
    z-index: 10;
    .area-meta {
      @include customize(theme) {
        background: getValue(highlight-color);
      }
      @include customize(theme) {
        color: getValue(menu-background);
      }
    }
    &::after {
      opacity: 1;
    }
  }

  &.inactive {
    z-index: 5;
  }
}
