/* ==================== STORY COMPONENT GALLERY ===================== */
.item-gallery-container {
  // position: relative;
  height: 80px;
  @include customize(theme) {
    background: getValue(menu-background);
    border-left: 3px dashed getValue(border-color);
  }
  transition: height 0.3s ease;

  .expanded-visible {
    height: 0px;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.6s, opacity 0.4s;
    transition-delay: 0.2s;
  }

  .header {
    margin: 0 0 0 20px;
    position: relative;
    @include customize(theme) {
      color: getValue(menu-font);
    }
    &::after {
      content: " ";
      width: 35px;
      height: 4px;
      display: inline-block;
      border-radius: 7px;
      margin-left: 10px;
      @include customize(theme) {
        background: getValue(highlight-color);
      }
    }
  }

  .expander {
    transition: color 0.195s ease;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -15px;
    left: calc(50% - 20px);
    border-radius: 50%;
    @include customize(theme) {
      background: getValue(menu-background);
    }
    & .icon {
      transition: transform 0.2s ease;
      transition-delay: 0.25s;
      cursor: pointer;
      width: 20px;
      height: auto;
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 22px;
      text-align: center;
      @include customize(theme) {
        color: getValue(menu-font);
      }
    }
    cursor: pointer;

    &:hover {
      & .icon {
        @include customize(theme) {
          color: getValue(highlight-color);
        }
      }
    }
  }

  .gallery-list {
    display: flex;
    height: 100%;
    flex-direction: row;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: background 0.4s ease-in, color 0.4s ease-in;
    align-items: center;
    margin: 0 0 0 10px;

    .gallery-item {
      &:first-of-type {
        margin: 0 0 0 5px;
      }
      padding: 10px;
      transition: 0.4s;
      background: transparent;
      @include customize(theme) {
        color: getValue(menu-font);
      }
      transform: scale(1);
      flex: 0 0 auto;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5px;

      &:hover {
        @include customize(theme) {
          background: getValue(highlight-color);
          color: getValue(highlight-color-font);
        }
        transform: scale(1.055);
      }

      span {
        padding: 0 5px;
        cursor: pointer;
        transition: all ease-in-out;
      }
    }

    .gallery-item-line {
      left: 1px;
    }
  }
  &.expanded {
    height: 300px;
    overflow-y: scroll;
    .expander {
      z-index: 99;
      .icon {
        transform: rotate(180deg);
      }
    }
    .expanded-visible {
      //display: block;
      height: auto;
      opacity: 1;
      padding: 20px 0 0 0;
      transform: translateY(0px);
      transition: transform 0.6s, opacity 0.4s;
    }
    .gallery-list {
      height: auto;
      min-height: 80px;
      flex-wrap: wrap;
      .gallery-item {
        margin: 10px;
      }
    }
  }
}

@media only screen and(max-width: 400px) {
  .gallery-container {
    color: red !important;
  }
}
