/* ==================== STORY COMPONENT GALLERY ===================== */

.gallery-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  @include customize(theme) {
    background: getValue(menu-background);
    border-left: 3px dashed getValue(border-color); 
  }

  .gallery-item {
    padding: 15px;
    transition: .2s;
    background: transparent;
    @include customize(theme) {
     color: getValue(menu-font);
    }
    transform: scale(1);

    &:hover {
      @include customize(theme) {
        background: getValue(highlight-color);
        color: getValue(highlight-color-font); 
      }
      transform: scale(1.055);
    }

    span {
      padding: 0 5px;
      transition: all ease-in-out;
    }
  }

  .gallery-item-line {
    left: 1px;
  }
}

@media only screen and(max-width: 400px) {
  .gallery-container {
    color: red !important;
  }
}