.gallery-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;

  .gallery-item {
    border-left: solid;
    border-width: 1px;
    padding: 10px;
    transition: 0.5s;

    span {
      padding: 0 5px;
    }
  }

  .gallery-item:hover {
    background-color: royalblue;
  }

  .gallery-item-line {
    left: 1px;
  }
}