/* ==================== BREADCRUMB ===================== */

.breadcrumb-container {
  display: block;
  height: auto;
  margin: 10px 10px 10px 0;
  padding: 2px 0;
  border-radius: 7px;
  transition: background 0.4s ease-in;
  @include customize(theme) {
    background: getValue(node-object-background);
  }

  ul {
    margin: 5px 0;
    padding: 0 0 0 10px;
  }

  .item {
    display: inline;
    list-style: none;
    font-size: 0.85rem;
    transition: color 0.4s ease-in;
    @include customize(theme) {
      color: getValue(text);
    }
    padding: 0 0 0 10px;
    cursor: pointer;
  }

  .item:hover {
    text-decoration: underline;
  }

  .item:first-of-type {
    padding: 0;
  }

  /* highlight selected node */

  .item.selected {
    @include customize(theme) {
      color: getValue(highlight-color);
    }
  }

  /* Arrow between nodes */

  .item::before {
    content: "\25B6";
    font-size: 1em;
    padding: 0 10px 0 0;
    display: inline-block;
    transform: translateY(1px);
    @include customize(theme) {
      color: getValue(text);
    }
  }

  .item.selected::before {
    @include customize(theme) {
      color: getValue(highlight-color);
    }
  }

  /* hide arrow after last node */

  .item:first-of-type::before {
    display: none;
  }
}
