/* ==================== BREADCRUMB ===================== */

.breadcrumb-container {
    display: inline-block;
    height: auto;
    width: 100%;
    @include customize(theme) {
        background: getValue(menu-background);
        border-left: 3px dashed getValue(border-color); 
      }

    ul {
        margin: 5px 0;
        padding: 0 0 0 10px;
    }

    .item {
        display: inline;
        list-style: none;
        font-size: .85rem;
      @include customize(theme) {
       color: getValue(menu-font);
      }
        padding: 0 0 0 10px;
        cursor: pointer;
    }

    .item:hover {
        text-decoration: underline;
    }

    .item:first-of-type {
        padding: 0;
    }

    /* highlight selected node */

    .item.selected {
        @include customize(theme) {
            color: getValue(highlight-color); 
          }
    }

    /* Arrow between nodes */

    .item::before {
        content: "\25B6";
        font-size: 1em;
        padding: 0 10px 0 0;
        display: inline-block;
        transform: translateY(1px);
        @include customize(theme) {
            color: getValue(menu-font); 
          }
    }

    .item.selected::before {
        @include customize(theme) {
            color: getValue(highlight-color); 
          }
    }
    
    /* hide arrow after last node */

    .item:first-of-type::before {
        display: none;
    }
}