/* ==================== VERTICAL PANE ===================== */

.vertical-pane-group {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: 3px solid;
    transition: border-color .4s ease-in;
    @include customize(color) {
        border-color: getValue(menu-background); 
      }
}

.window-content .horizontal-pane-group .pane:nth-of-type(2){
    border-left: 0;
}

.vertical-pane:first-child {
    border-top: 0;
}

.vertical-pane {
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    flex: 4;
    width: 100%;
    border-top: 1px solid;
    transition: background-color .4s ease-in;
    @include customize(theme) {
        background-color: getValue(menu-background); 
      }
}

.vertical-pane-sm {
    flex: none;
    height: fit-content;
    max-height: 250px;
}

.vertical-pane-mini {
    height: fit-content;
    flex: none;
    max-height: 150px;
}
