/* ==================== PREVIEW ===================== */

.preview-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 30px;

    .vertical-pane-mini {
        position: fixed;
        width: 100%;
    }
}

.header-preview {
  @include customize(theme) {
   background: getValue(ui-background);
  }

    span {
        display: inline-block;
        font-size: .85rem;
          @include customize(theme) {
           color: getValue(ui-font);
          }
        margin: 5px 0 5px 10px;
    }
}

.ngwebs-story {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 15px;

}

// Font sizes

p, a, span {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

// Quotes

blockquote {
    font-size: 2.3rem;
    max-width: 440px;
    margin: 0 auto;
    opacity: .9;
}

// Image

// List

// Table

// CTA

// Utilities
