/* ==================== PREVIEW CONTAINER ===================== */

.preview-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  .vertical-pane-mini {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .vertical-pane-group {
    > .vertical-pane:nth-of-type(even) {
      background: #fff;
    }
  }

  .header-preview {
    transition: background 0.4s ease-in, color 0.4s ease-in;
    @include customize(theme) {
      background: getValue(node-area-background);
      color: getValue(text);
    }
    margin: 10px;

    span {
      display: inline-block;
      font-size: 0.85rem;
      margin: 5px 0 5px 10px;
    }
  }
}

/*================== STORY WRAPPER =================*/

/* ============ MIXINS ============ */

@mixin for-mobile {
  .storywrapper.XS {
    // Todo: Add rulesets for default resize, Add configuration < 599px
    @content;
  }
}
@mixin for-tablet-portrait {
  .storywrapper.SM {
    // Todo: Add rulesets for default resize, Add configuration min-width 600px
    @content;
  }
}
@mixin for-tablet-landscape {
  .storywrapper.MD {
    // Todo: Add rulesets for default resize, Add configuration min-width: 900px
    @content;
  }
}
@mixin for-desktop {
  .storywrapper.LG {
    // Todo: Add rulesets for default resize, Add configuration min-width: 1200px
    @content;
  }
}
@mixin for-desktop-large {
  .storywrapper.XL {
    // Todo: Add rulesets for default resize, Add configuration min-width: 1800px
    @content;
  }
}

// BASE

.storywrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 50px;

  .ngwebs-story {
    .ngwebs-story-container {
      width: 100%;
      display: grid;
      place-items: center;
    }

    .hero {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0 0 20px 0;
      img {
        filter: grayscale(0.5);
        margin: 0;
      }
      h1 {
        position: absolute;
        margin: 0;
        word-break: break-word;
        color: #fff;
      }
    }

    p,
    a,
    span {
      font-size: 1rem;
    }

    figure {
      img {
        margin: 0;
      }
      figcaption {
        font-size: 0.8rem;
        margin: 5px 0 0 0;
        span.media-source {
          font-size: 0.8rem;
          color: #5d5c5c;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      white-space: normal;
    }

    h1 {
      font-size: 2.5rem;
      @include for-mobile() {
        font-size: 1.5rem;
      }
      @include for-tablet-portrait() {
        font-size: 1.8rem;
      }
      @include for-tablet-landscape() {
        font-size: 1.9rem;
      }
      @include for-desktop() {
        font-size: 2.1rem;
      }
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    h4 {
      font-size: 1.6rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    h6 {
      font-size: 1.2rem;
    }

    // QUOTES

    blockquote {
      font-size: 2.3rem;
      @include customize(storytheme) {
        color: getValue(blockquote-color);
      }
    }

    // IMAGE

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 20px 0;
    }

    // VIDEO

    video {
      width: 100%;
      height: auto;
    }

    .hero {
      video {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
      }
    }

    // LIST

    ul,
    ol {
      font-size: 1rem;
    }

    // TABLE

    // CTA

    /* ========== THEME TYPEWRITER ========== */

    &.theme-modernist {
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:wght@700&family=Poppins:ital,wght@1,300&display=swap");
      p,
      a,
      b,
      span,
      figcaption {
        font-family: "Lato", sans-serif;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Merriweather Sans", sans-serif;
      }
      blockquote {
        font-family: "Poppins", sans-serif;
      }
    }

    &.theme-classic {
      @import url("https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@700&display=swap");
      p,
      a,
      b,
      span,
      figcaption {
        font-family: "PT Serif", serif;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Playfair Display", serif;
      }
      blockquote {
        font-family: "Arapey", serif;
      }
    }
  }

  // UTILITIES

  // FONT SIZES
}
