/* ==================== PREVIEW CONTAINER ===================== */

.preview-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 30px;

    .vertical-pane-mini {
        position: fixed;
        width: 100%;
    }

.header-preview {
    transition: background .4s ease-in, color .4s ease-in;
  @include customize(theme) {
   background: getValue(menu-background);
  }
  @include customize(theme) {
    color: getValue(menu-font);
   }

    span {
        display: inline-block;
        font-size: .85rem;
        margin: 5px 0 5px 10px;
    }
}

/*================== STORY WRAPPER =================*/

.storywrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ============ MIXINS ============ */

@mixin for-mobile {
    .storywrapper.xsm {
        // Todo: Add rulesets for default resize, Add configuration < 599px 
        @content; }
  }
  @mixin for-tablet-portrait {
    .storywrapper.sm { 
        // Todo: Add rulesets for default resize, Add configuration min-width 600px
        @content; }
  }
  @mixin for-tablet-landscape {
    .storywrapper.md { 
        // Todo: Add rulesets for default resize, Add configuration min-width: 900px
        @content; }
  }
  @mixin for-desktop {
    .storywrapper.lg { 
        // Todo: Add rulesets for default resize, Add configuration min-width: 1200px
        @content; }
  }
  @mixin for-desktop-large {
    .storywrapper.xlg { 
        // Todo: Add rulesets for default resize, Add configuration min-width: 1800px
        @content; }
  }


/* =============  BASE =========== */

.ngwebs-story {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 15px;

}

// UTILITIES

// TEMPLATE GRID

.container {
    display: grid;
    grid-template-columns: 12fr;
    grid-row-gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: 12fr;
    grid-gap: 1rem;
}

.content {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 12fr))
}

// FONT SIZES

p, a, span {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

// QUOTES

blockquote {
    font-size: 2.3rem;
    max-width: 440px;
    margin: 0 auto;
    opacity: .9;
    @include customize(storytheme){
        color: getValue(blockquote-color);
    }
}

// IMAGE

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

// LIST



// TABLE

// CTA


}