/* ==================== PREVIEW CONTAINER ===================== */

.preview-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  .vertical-pane-mini {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .vertical-pane-group {
    > .vertical-pane:nth-of-type(even) {
      background: #fff;
    }
  }

  .header-preview {
    transition: background 0.4s ease-in, color 0.4s ease-in;
    @include customize(theme) {
      background: getValue(node-area-background);
      color: getValue(text);
    }
    margin: 10px;

    span {
      display: inline-block;
      font-size: 0.85rem;
      margin: 5px 0 5px 10px;
    }
  }

  /*================== STORY WRAPPER =================*/

  .storywrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 50px; //maybe move to container

    .ngwebs-story {
      margin: 0 auto;
      max-width: 768px; // ?
      padding: 0 15px;
    }

    // UTILITIES

    // FONT SIZES

    p,
    a,
    span {
      font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      white-space: normal;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    h4 {
      font-size: 1.6rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    h6 {
      font-size: 1.2rem;
    }

    // QUOTES

    blockquote {
      font-size: 2.3rem;
      max-width: 440px;
      margin: 0 auto;
      opacity: 0.9;
      @include customize(storytheme) {
        color: getValue(blockquote-color);
      }
    }

    // IMAGE

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 20px 0;
    }

    // LIST

    // TABLE

    // CTA
  }

  /* ============ MIXINS ============ */

  @mixin for-mobile {
    .storywrapper.XS {
      // Todo: Add rulesets for default resize, Add configuration < 599px
      @content;
    }
  }
  @mixin for-tablet-portrait {
    .storywrapper.SM {
      // Todo: Add rulesets for default resize, Add configuration min-width 600px
      @content;
    }
  }
  @mixin for-tablet-landscape {
    .storywrapper.MD {
      // Todo: Add rulesets for default resize, Add configuration min-width: 900px
      @content;
    }
  }
  @mixin for-desktop {
    .storywrapper.LG {
      // Todo: Add rulesets for default resize, Add configuration min-width: 1200px
      @content;
    }
  }
  @mixin for-desktop-large {
    .storywrapper.XL {
      // Todo: Add rulesets for default resize, Add configuration min-width: 1800px
      @content;
    }
  }

  /* =============  BASE =========== */
}
