.hidden {
  display: none;
  resize: horizontal;
  overflow: visible;
}

.pane-resizable {
  flex: auto;
  border: 0;
}

.drag-handle-vertical {
  width: 15px;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  right: -5;
  background: transparent;
  cursor: col-resize;
  z-index: 99;
}

.drag-handle-horizontal-right {
  width: 15px;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  cursor: col-resize;
  z-index: 99;
}

.drag-handle-horizontal-left {
  width: 15px;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  cursor: col-resize;
  z-index: 99;
}

/*
.sidebar::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
  opacity: 0;
transition: opacity 0.4s ease;
}


.sidebar::-webkit-scrollbar-track {
@include customize(theme) {
  background: getValue(node-object-background);
}
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid;
  @include customize(theme) {
    border-color: getValue(node-object-background);
  }
}

.sidebar::-webkit-scrollbar-button {
  display:none;
}

.sidebar:hover::-webkit-scrollbar {
  opacity: 1;
}


**Hide Scrollbars for panes on default, later "revive" them when needed**


.pane,
.vertical-pane,
.flex-pane,
.pane-group,
.vertical-pane-group,
.horizontal-pane-group {
  &::-webkit-scrollbar {
    display: none;
  }
}

*/
