.hidden {
  display: none;
  resize: horizontal;
  overflow: visible;
}

.pane-resizable {
  flex: auto;
  border: 0;
}

.drag-handle-vertical {
  width: 15px;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  right: -5;
  background: transparent;
  cursor: col-resize;
  z-index: 99;
}

.drag-handle-horizontal-right {
  width: 15px;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  cursor: col-resize;
  z-index: 99;
}

.drag-handle-horizontal-left {
  width: 15px;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  cursor: col-resize;
  z-index: 99;
}
