line {
  transition: all 0.195s ease;
 // stroke-width: 2;
  cursor: pointer;
  @include customize(theme) {
    stroke: getValue(menu-background);
  }

  &:nth-of-type(even) {
    stroke: rgba(0,0,0,0);
  }

  &.selected {
    transition: stroke .1s ease-in;
    @include customize(theme) {
      stroke: getValue(highlight-color);
    }
    //stroke-width: 3;
    stroke-dasharray: 4;
    stroke-dashoffset: 100;
    stroke-linecap: revert;
    animation: move-path 30s linear infinite;
  }
}

@keyframes move-path {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}
