line {
  transition: all 0.195s ease;
 // stroke-width: 2;
  cursor: pointer;

  &:nth-of-type(odd) {
    @include customize(theme) {
      stroke: getValue(highlight-color);
    }
    stroke-width: 2px;
    transition: stroke-width .1s ease-in;
  }

  &.selected {
    stroke-width: 4;
    stroke-dasharray: 4;
    stroke-dashoffset: 100;
    stroke-linecap: revert;
    animation: move-path 30s linear infinite;
  }
}

@keyframes move-path {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}
