table.connection-table {

    &, tbody, thead {
        background: transparent;
    }
    
    th {
        border: none;
        font-weight: bold;

        &.flow {
            color: orange;
        }

        &.data {
            color: green;
        }

        &.reaction {
            color: royalblue;
        }
    }

    td {
        border: none;
    }
}