table.connection-table {

    transition: color .4s ease;

    &, tbody, thead {
        background: transparent;
    }
    
    th {
        border: none;
        font-weight: bold;
        @include customize(theme) {
            color: getValue(text);
           }

        &.flow {
            @include customize(theme) {
                color: getValue(flow-color);
            }
        }

        &.data {
            @include customize(theme) {
                color: getValue(data-color);
            }
        }

        &.reaction {
            @include customize(theme) {
                color: getValue(reaction-color);
            }
        }
    }

    td {
        border: none;
        @include customize(theme) {
            color: getValue(text);
        }
    }
}