/* ==================== ITEM PROPERTIES ===================== */

.sidebar {
    padding: 10px;
    transition: background .4s ease-in, color .4s ease-in;
    @include customize(theme) {
    background: getValue(menu-background); 
    color: getValue(menu-font);
  }
    /* for testing */
    max-width: 300px;
    form {
        display: flex;
        flex-direction: column;

        .form-control {
            color: #000;
        }

        .form-group-item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 0 15px 0;
        }

        label {
            display: inline-flex;
            flex-grow: 0;
            flex-shrink: 0;
            margin: 0 10px 0 0;
            line-height: 2.5em;
            min-width: 50px;
        }
        input.form-control {
            /* reset unnecessary photn values */
            width: auto;
            /* make resizeable */
            flex-grow: 1;
            flex-shrink: 1;
        }
        .table-striped tr {
          @include customize(theme) {
           color: getValue(menu-font);
          }
            background: transparent;
        } 
    }
}