/* ==================== ITEM PROPERTIES ===================== */

.sidebar {
  margin: 10px 0 10px 10px;
  padding: 15px;
  border-radius: 7px;
  transition: background 0.4s ease-in, color 0.4s ease-in;
  @include customize(theme) {
    background: getValue(highlight-color-font);
    color: getValue(text);
  }
  /* for testing */
  max-width: 300px;
  form {
    display: flex;
    flex-direction: column;
    @include customize(theme) {
      color: getValue(text);
    }

    // > .form-group-item {
    //   padding: 10px;
    //   border-radius: 3px;
    //   @include customize(theme) {
    //     background: getValue(node-object-background);
    //   }
    // }

    .form-group-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 15px 0;
      @include customize(theme) {
        color: getValue(text);
      }
      &.slider-item {
        display: block;
        label {
          line-height: 47px;
          margin: 1px 5px 5px 0;
          transform: translateY(1px);
        }
        > p {
          margin-top: 16px;
          min-width: 24px;
        }
      }
      input.form-control {
        /* reset unnecessary photn values */
        width: 100%;
        /* make resizeable */
        flex-grow: 1;
        flex-shrink: 1;
        height: 25px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 25px;
        @include customize(theme) {
          color: getValue(menu-font);
          background: getValue(node-object-background);
        }
        border: 0;
      }
      label,
      p {
        display: inline-flex;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 10px 5px 0;
        line-height: 2em;
        min-width: 50px;
      }
      table {
        @include customize(theme) {
          color: getValue(text);
          background: getValue(node-object-background);
          border-radius: 5px;
          padding: 5px;
        }
        border-radius: 5px;
        thead,
        tbody {
          @include customize(theme) {
            background: getValue(node-object-background);
          }
        }
        td {
          > .form-group-item {
            margin: 0;
          }
          .slider-item {
            flex-wrap: nowrap;
            span {
              min-width: 16px;
            }
            input {
              display: inline-block !important; /* remove display none from wherever :D */
              transition: width 0.33s ease-out, opacity 0.15s;
              -webkit-transition: width 0.33s ease-out, opacity 0.15s;
              -moz-transition: width 0.33s ease-out, opacity 0.15s;
              width: 0px;
              opacity: 0;
            }
            &:hover > input {
              width: 95px;
              opacity: 1;
            }
          }
        }
        th {
          height: 25px;
        }
      }
      select {
        @include customize(theme) {
          color: getValue(menu-font);
          background: getValue(node-object-background);
        }
        border: none;
      }
      .table-item {
        overflow-x: scroll;
      }
    }

    .table-striped tr {
      @include customize(theme) {
        color: getValue(text);
      }
      background: transparent;
    }
    textarea {
      min-width: 250px;
      min-height: 100px;
    }
    input[type="range"] {
      margin: 5.8px 4px;
      max-width: 95px;
      background-color: transparent;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        @include customize(theme) {
          background: getValue(text-background);
        }
        transition: background 0.2s ease;
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 4px;
        cursor: pointer;
      }
      &::-webkit-slider-thumb {
        margin-top: -5.8px;
        width: 15px;
        height: 15px;
        border: 1px solid;
        @include customize(theme) {
          border-color: getValue(node-object-background);
          background: getValue(highlight-color);
        }
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
      }
      &:hover::-webkit-slider-runnable-track {
        @include customize(theme) {
          background: getValue(text);
        }
      }
      &:focus::-webkit-slider-runnable-track {
        @include customize(theme) {
          background: getValue(text);
        }
      }
    }
    .form-control.card {
      @include customize(theme) {
        background: getValue(node-object-background);
      }
      border: 0;
      table, thead, tbody {
        @include customize(theme) {
          background: getValue(node-area-background);
        }
      }
    }
  }
  .btn {
    margin: 0 auto;
    border: 2px solid #efefef;
    background: transparent;
    color: #efefef;
    padding: 5px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      @include customize(theme) {
        color: getValue(highlight-color);
        border-color: getValue(highlight-color);
      }
    }
    .btn-group {
      &:first-child {
        &:hover {
          color: hsl(0deg, 90%, 40%);
          border-color: hsl(0deg, 90%, 40%);
        }
      }
    }
  }
}
