/* ==================== ITEM PROPERTIES ===================== */

.sidebar {
  padding: 10px;
  transition: background 0.4s ease-in, color 0.4s ease-in;
  @include customize(theme) {
    background: getValue(menu-background);
    color: getValue(text);
  }
  /* for testing */
  max-width: 300px;
  form {
    display: flex;
    flex-direction: column;
    @include customize(theme) {
      color: getValue(text);
    }

    .form-control {
      @include customize(theme) {
        color: getValue(menu-font);
        background: getValue(text-background);
      }
      border: 0;
    }

    .form-group-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 15px 0;
    }

    label {
      display: inline-flex;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 10px 0 0;
      line-height: 2.5em;
      min-width: 50px;
    }
    input.form-control {
      /* reset unnecessary photn values */
      width: auto;
      /* make resizeable */
      flex-grow: 1;
      flex-shrink: 1;
    }
    .table-striped tr {
      @include customize(theme) {
        color: getValue(text);
      }
      background: transparent;
    }
    textarea {
      min-width: 280px;
    }
    input[type=range]{
      width: 100%;
      margin: 5.8px 0;
      background-color: transparent;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        background: #4d4d4d;
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
      }
      &::-webkit-slider-thumb {
        margin-top: -5.8px;
        width: 20px;
        height: 20px;
        background: #009485;
        border: 1px solid #3b3b3b;
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
      }
      &:hover::-webkit-slider-runnable-track {
        background: #3b3b3b;
      }
      &:focus::-webkit-slider-runnable-track {
        background: #5a5a5a;
      }
    }
  }
}
