/* ================= THEMES =================== */

$themes: (
  light: (
    menu-background: #b5b5b5,
    text-background: #949494,
    text: #262626,
    node-area-background: #949494,
    node-object-background: #d3d3d3,
    highlight-color: #8f273a,
    highlight-color-font: #efefef,
    border-color: #949494,
    //TODO: Replace and also add colors for "warning", "success", ...
    flow: #009485,
    data: #409bff,
    reaction: rgb(255, 166, 0),
  ),
  dark: (
    menu-background: #262626,
    text-background: #4d4d4d,
    text: #efefef,
    node-area-background: #4d4d4d,
    node-object-background: #3b3b3b,
    highlight-color: rgb(0, 148, 133),
    highlight-color-font: #262626, //menu background
    border-color: #3b3b3b,
    //TODO: Replace and also add colors for "warning", "success", ...
    flow: #009485,
    data: #409bff,
    reaction: rgb(255, 166, 0),
  ),
  eggplant: (
    menu-background: #1f253a,
    text-background: #4e5671,
    text: #e9e9e9,
    node-area-background: #4e5671,
    node-object-background: #2d3654,
    highlight-color: #2a9b86,
    highlight-color-font: #1f253a,
    border-color: #a0a5b9,
    //TODO: Replace and also add colors for "warning", "success", ...
    flow: #009485,
    data: #409bff,
    reaction: rgb(255, 166, 0),
  ),
);

@mixin customize($arg: theme) {
  $array: $themes;
  $prefix: theme;

  @each $theme, $map in $array {
    .#{$prefix}-#{$theme} & {
      $array-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($array, $theme), "#{$key}");
        $array-map: map-merge(
          $array-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $array-map: null !global;
    }
  }
}

@function getValue($key) {
  @return map-get($array-map, $key);
}
