/* ================= THEMES =================== */

$themes: (
  light: (
    menu-background: #d9d9d9,
    text-background: #efefef,
    text: #262626,
    node-area-background: #919191
    node-object-background: #efefef,
    highlight-color: #009485,
    highlight-color-font: #efefef,
    border-color: #262626,


    //TODO: Replace and also add colors for "warning", "success", ...
    flow: #009485,
    data: #409BFF,
    reaction-color: royalblue,
  ),
  dark: (
    menu-background: #262626,
    text-background: #4d4d4d,
    text: #efefef,
    node-area-background: #4d4d4d,
    node-object-background: #3b3b3b,
    highlight-color: #009485,
    highlight-color-font: #262626,
    border-color: #fff,


    //TODO: Replace and also add colors for "warning", "success", ...
    flow: #009485,
    data: #409BFF,
    reaction-color: royalblue,
  ),
  eggplant: (
    menu-background: #1F253A,
    text-background: #A0A5B9,
    text: #fff,
    node-area-background: #A0A5B9
    node-object-background: #fff,
    highlight-color: #33D69F,
    highlight-color-font: #1F253A,
    border-color: #A0A5B9,

    //TODO: Replace and also add colors for "warning", "success", ...    
    flow: #009485,
    data: #409BFF,
    reaction-color: royalblue,
  ),
);

@mixin customize($arg: theme) {
  $array: $themes;
  $prefix: theme;

  @each $theme, $map in $array {
    .#{$prefix}-#{$theme} & {
      $array-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($array, $theme), '#{$key}');
        $array-map: map-merge($array-map, ($key: $value)) !global;
      }

      @content;
      $array-map: null !global;
    }
  }
}

@function getValue($key) {
  @return map-get($array-map, $key);
}